/* Sayfanın en alta yapışması için */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Footer ayarları */
footer {
    margin-top: auto;
    background-color: #212529; /* Bootstrap bg-dark */
    padding: 20px 0;
    text-align: center;
}

/* Logo ayarları */
.footer-logo {
    max-width: 120px;
    height: auto;
}
